<!DOCTYPE html>
<html>
	<head>
		<title>DAV33</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/DAV33-KI2018/css/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	</head>
	<body>
		<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<a href="/DAV33-KI2018/">Home</a>
			<a href="/DAV33-KI2018/other/">Plots</a>
			<a href="/DAV33-KI2018/maps/">Products</a>
			<a href="https://github.com/LucSkyvvalker/DAV33-KI2018">Contact</a>
		</div>
		<div class="container">


			{{ content }}

		</div><!-- /.container -->

		<footer>
			<ul>
				<li><a href="https://github.com/LucSkyvvalker/DAV33-KI2018">Project Page</a></li>
				A group project by:
				Chandni Bagchi,
				Stijn Hamerslag,
				Emiel Sanders and
				Luc Vink</ul>
		</footer>
		<script>
				function openNav() {
					document.getElementById("mySidenav").style.width = "250px";
				}

				function closeNav() {
					document.getElementById("mySidenav").style.width = "0";
				}
				</script>
	</body>
</html>
